@font-face {
    font-family: "Raleway Regular";
    src: url("fonts/Raleway-Regular.ttf");
}

@font-face {
    font-family: "Raleway Light";
    src: url("fonts/Raleway-Light.ttf");
}

@font-face {
    font-family: "Raleway Bold";
    src: url("fonts/Raleway-Bold.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    width: 1400px;
    margin: 0 auto;
    border: 1px solid gainsboro;
}

/* Part One */

nav {
    height: 70px;
    background: black;
}

.logo_small {
    margin: 20px 0 20px 150px;
    float: left;
}

.list_parent {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    float: right;
}

.list_child {
    font-size: 14px;
    color: #c9c9c9;
    cursor: pointer;
    transition: 1s;
    padding: 25px;
}

.list_child:hover {
    color: yellow;
}

.list_child:last-child {
    padding-right: 150px;
}

/* End of Part One */
/* Part Two */
.div_picture {
    height: 640px;
    background: rgba(0, 0, 0, .48) url("img/one/img3.jpg");
    background-blend-mode: darken;
}

.logo_big {
    margin: 70px 0 30px 150px;
}

.text_under_big_logo {
    font-family: "Raleway Regular", "sans-serif";
    font-size: 35px;
    color: white;
    margin: 0 0 40px 150px;
    float: left;
    width: 502px;
}

.divider_picture {
    position: relative;
    width: 75px;
    top: 220px;
    left: -180px;
}

.text_under_text {
    font-family: "Raleway Light", "sans-serif";
    font-size: 14px;
    color: #adacaa;
    margin: 0 0 40px 150px;
    position: relative;
    top: 190px;
    left: -500px;
}

.download_image {
    cursor: pointer;
    background: url("img/one/img5.png");
    position: relative;
    color: white;
    top: 190px;
    left: 155px;
    width: 135px;
    height: 42px;
}

.download_text {
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    top: 158px;
    left: 190px;
    width: 70px;
    margin: 0;
}

.download_text:hover {
    color: rgba(244, 208, 65, 1)
}

.rect_freetrial {
    width: 360px;
    height: 360px;
    background: white;
    border-radius: 5px;
    position: relative;
    right: -900px;
    top: -185px;
}

.freetrial_top {
    width: 360px;
    height: 50px;
    background: #f5f5f5;
    border-radius: 3px 3px 0 0;
    position: relative;
    right: 0;
    top: 0;
    font-weight: bold;
    font-size: 20px;
    padding: 8px;
    text-align: center;
}

.freetrial_bottom {
    width: 360px;
    height: 50px;
    background: #ff9b51;
    border-radius: 0 0 3px 3px;
    position: relative;
    right: 0;
    top: 80px;
    font-family: "Raleway Light", "sans-serif";
    font-weight: bold;
    font-size: 14px;
    padding: 14px;
    text-align: center;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

.freetrial_bottom:hover {
    color: rgba(244, 208, 65, 1);
}

.colortext {
    color: #fca667;
}

.input_div {
    width: 285px;
    height: 30px;
    margin: 40px 40px 0 40px;
    color: #cecece;
    font-size: 15px;
    border-bottom: 1px solid #d6d6d6;
}

.afterpicture {
    height: 105px;
    border-bottom: 1px solid #b7b7b7;
}

/* End of Part Two */
/* Part Three */
.socialmedia {
    font-weight: bold;
    font-size: 20px;
    margin: 25px 0 0 150px;
}

.under_socialmedia {
    font-family: "Raleway Light", "sans-serif";
    font-size: 14px;
    color: #86878b;
    margin: 10px 0 20px 150px;
    float: left;
}

.icons {
    font-family: "FontAwesome", "sans-serif";
    margin: -25px 110px 0 0px;
    letter-spacing: 24px;
    font-size: 50px;
    color: #ccc;
    float: right;
}

/* End of Part Three */
/* Part Four */

.section_tabs {
    background: #f5f5f5;
    height: 595px;
}

.rect_four_one {
    width: 110px;
    height: 110px;
    background: #333;
    transition: 0.5s;
    border-radius: 3px 3px 0 0;
    border: 1px solid #c7c7c7;
    font-weight: bold;
    color: white;
    padding-top: 40px;
    text-align: center;
}

.rect_four_one:hover {
    background: #ff8b38;
}

.rect_four_two {
    width: 110px;
    height: 110px;
    background: #333;
    transition: 0.5s;
    border: 1px solid #c7c7c7;
    font-weight: bold;
    color: white;
    padding-top: 40px;
    text-align: center;
}

.rect_four_two:hover {
    background: #ff8b38;
}

.rect_four_three {
    width: 110px;
    height: 110px;
    background: #333;
    transition: 0.5s;
    border-radius: 0 0 3px 3px;
    border: 1px solid #c7c7c7;
    font-weight: bold;
    color: white;
    padding-top: 40px;
    text-align: center;
}

.rect_four_three:hover {
    background: #ff8b38;
}

.tabs_joiner {
    margin: 145px 0 0 145px;
    float: left;
}

.section_tabs_head {
    font-weight: bold;
    font-size: 20px;
    margin: 155px 0 0 100px;
    float: left;
}

.section_tabs_lorem {
    font-family: "Raleway Light", "sans-serif";
    font-size: 14px;
    color: #86878b;
    float: left;
    margin: 60px 0 0 100px;
    position: relative;
    left: -422px;
    top: 180px;
}

.section_tabs_button {
    width: 120px;
    height: 45px;
    border-radius: 3px;
    background: #ff8b38;
    cursor: pointer;
    font-size: 14px;
    transition: 0.5s;
    text-align: center;
    float: left;
    color: white;
    padding-top: 10px;
    position: relative;
    left: -775px;
    top: 430px;
}

.section_tabs_button:hover {
    color: rgba(244, 208, 65, 1);
}

.section_tabs_image {
    float: right;
    position: relative;
    right: 150px;
    top: 10px;
}

/* End of Part Four */
/* Part Five */

.section_sublist {
    height: 600px;
    background: white;
}

.sublist_image {
    margin: 110px 0 0 115px;
    float: left;
}

.sublist_head {
    font-weight: bold;
    font-size: 20px;
    margin: 105px 0 0 195px;
    float: left;
}

.sublist_divider {
    margin: 158px 0 0 -141px;
    float: left;
}

.sublist_lorem {
    font-family: "Raleway Light", "sans-serif";
    font-size: 14px;
    color: #86878b;
    float: left;
    position: relative;
    left: -142px;
    top: 186px;
}

.sublist_div_one {
    width: 460px;
    height: 75px;
    float: left;
    position: relative;
    top: 148px;
    left: -80px;

}

.sublist_div_two {
    width: 460px;
    height: 75px;
    float: left;
    position: relative;
    top: 166px;
    left: 180px;
}

.sublist_circle {
    position: relative;
    top: 10px;
    left: 5px;
    float: left;
    cursor: pointer;
}

.sublist_circle_text {
    font-family: "FontAwesome", "sans-serif";
    font-size: 16px;
    color: #ff8b38;
    position: relative;
    top: -10px;
    left: -23px;
    cursor: pointer;
}

.sublist_div_head {
    margin: 5px 0 0 75px;
    font-size: 16px;
}

.sublist_div_lorem {
    font-family: "Raleway Light", "sans-serif";
    font-size: 14px;
    color: #86878b;
    float: left;
    position: relative;
    width: 365px;
    left: 75px;
    top: -40px;
}

/* End of Part Five */
/* Part Six */

.standart_picture {
    height: 525px;
    background: #f5f5f5;
}

.standart_picture_head {
    font-weight: bold;
    font-size: 20px;
    margin: 110px 0 0 155px;
    float: left;
}

.standart_picture_divider {
    position: relative;
    top: 150px;
    left: -720px;
}

.standart_picture_lorem {
    font-family: "Raleway Light", "sans-serif";
    font-size: 14px;
    color: #86878b;
    float: left;
    position: relative;
    width: 490px;
    left: -232px;
    top: 190px;
}

.standart_picture_image {
    float: left;
    position: relative;
    top: -85px;
    left: 805px;
}

/* End of Part Six */
/* Part Seven */

.awesome {
    height: 590px;
}

.awesome_header {
    font-family: "Raleway Regular", "sans-serif";
    font-size: 35px;
    color: black;
    float: left;
    margin-top: 95px;
}

.awesome_divider {
    float: left;
    position: relative;
    top: 163px;
    left: -235px;
}

.awesome_lorem {
    font-family: "Raleway Light", "sans-serif";
    font-size: 14px;
    color: #86878b;
    float: left;
    position: relative;
    top: 190px;
    left: -435px;
}

.awesome_div_one {
    float: left;
    width: 385px;
    height: 220px;
    position: relative;
    left: -56%;
    top: 40%;
}

.awesome_div_two {
    float: left;
    width: 385px;
    height: 220px;
    position: relative;
    left: 37.6%;
    top: 2.7%;
}

.awesome_div_three {
    float: left;
    width: 385px;
    height: 220px;
    position: relative;
    left: 37%;
    top: 2.7%;
}

.awesome_circle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.awesome_circle_text {
    font-family: "FontAwesome", "sans-serif";
    font-size: 30px;
    color: #ff8b38;
    cursor: pointer;
    position: relative;
    left: 48%;
    top: -26%;
}

.awesome_circle_text_two {
    font-family: "FontAwesome", "sans-serif";
    font-size: 30px;
    color: #ff8b38;
    cursor: pointer;
    position: relative;
    left: 46%;
    top: -26%;
}

.awesome_div_head {
    font-weight: bold;
    font-size: 20px;
    position: relative;
    left: 28%;
    top: -19%;
}

.awesome_div_head_two {
    font-weight: bold;
    font-size: 20px;
    position: relative;
    left: 34%;
    top: -19%;
}

.awesome_div_lorem {
    font-family: "Raleway Light", "sans-serif";
    font-size: 14px;
    color: #86878b;
    float: left;
    text-align: center;
    position: relative;
    top: -15%;
    left: 5%;
}

/* End of Part Seven */
/* Part Eight */

.pricing_options {
    height: 880px;
    background: #f5f5f5;
}

.pricing_options_header {
    font-family: "Raleway Regular", "sans-serif";
    font-size: 35px;
    color: black;
    text-align: center;
    padding-top: 105px;
}

.pricing_options_divider {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.pricing_options_lorem {
    font-family: "Raleway Light", "sans-serif";
    font-size: 14px;
    color: #86878b;
    text-align: center;
    padding-top: 30px;
}

.pricing_options_div {
    width: 25%;
}

.pricing_options_div:nth-of-type(odd) {
    align-self: flex-end;
}

.pricing_options_div:first-child{
    margin-left: 145px;
}

.pricing_options_div:last-child{
    margin-right: 145px;
}

.pricing_options_div_header {
    font-weight: bold;
    font-size: 20px;
    width: 345px;
    height: 60px;
    border: 1px solid #f5f5f5;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background: #333333;
    color: white;
    text-align: center;
    padding-top: 4%;
}

.pricing_options_div_price {
    width: 345px;
    height: 156px;
    border: 1px solid #f5f5f5;
    border-bottom: #333;
    background: #333;
    color: white;
    text-align: center;
    padding-top: 21%;
}

.pricing_options_div_orange {
    width: 345px;
    height: 4px;
    background: #FF8B38;
    border: 1px solid #f5f5f5;
    border-top: #ff8b38;
    border-bottom: #ff8b38;
}

.pricing_options_div_best {
    width: 345px;
    height: 40px;
    background: #FF8B38;
    border: 1px solid #f5f5f5;
    border-top: #ff8b38;
    border-bottom: #ff8b38;
    font-weight: bold;
    font-size: 16px;
    color: white;
    text-align: center;
    padding-top: 2%;
}

.pricing_options_div_price_dollar {
    font-family: "Raleway Bold", "sans-serif";
    font-weight: bold;
    font-size: 38px;
    position: relative;
    width: 40px;
    top: -33%;
    left: 30%;
}

.pricing_options_div_price_number {
    font-family: "Raleway Bold", "sans-serif";
    font-weight: bold;
    font-size: 90px;
    width: 50px;
    position: relative;
    top: -194%;
    left: 40%;
}

.pricing_options_div_price_italic {
    font-style: italic;
    font-size: 16px;
    color: #999;
    text-align: center;
    position: relative;
    top: -220%;
}

.pricing_options_features {
    font-size: 18px;
    width: 345px;
    height: 42px;
    border: 1px solid #f5f5f5;
    color: #86878b;
    background: white;
    padding-top: 2%;
    text-align: center;
}

.pricing_options_container {
    display: flex;
    justify-content: space-between;
}

